/* saber oq é paddiing e margin */
 *{
    padding: Opx;
    margin: Opx;
 }
body{
    width: 100%;
}
.carrossel{
    width: 100%;
}
h1, h2, h3{
    font-family: "Brush Script MT", cursive;
}
p{
    font-family: Georgia, serif;
    font-size: lipx;
    color:rgba(41, 113, 161, 0.849);
}
h2{
    color:rgb(43, 137, 226);
}
h3{
    color: rgb(0, 88, 139);
}
.logo{
    font-family: "Sofia", sans-serif;
    font-size: 20px;
    color: rgb(24, 152, 202);
}
/*unviset link*/
.link1:visited{
    color: rgb(36, 94, 180);
    text-decoration: none;
}
/*link passa o mouse*/
.link1:hover{
    color: rgb(201, 145, 253);
}
header{
 background-color: rgb(171, 214, 255);
 width: 100%;
}
nav{
background-color: rgb(143, 174, 233);
width: 100%;
}
nav ul{
    display: flex;
    list-style-type: none; /*remove os circulos dos itens*/
}
nav ul li a{
    display: block;
    color: rgb(248, 86, 175);
    padding: 14px 16px;
    text-decoration: none;
}
nav ul li a:hover{
    background-color: rgb(245, 220, 238);
    color: rgb(121, 77, 102);
}




aside{
background-color: rgb(148, 198, 255);
width: 80%;
}
section{
background-color: rgb(255, 142, 202);
width: 20%;
}
footer{
background-color:rgb(255, 101, 196);
width: 100%;
}